.title {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 0;
}
.firstFont {
     font-family: 'Charmonman';
     font-size: 60px;
     
}
.secondeFont{
     font-family: 'Righteous', cursive;
     font-size: 40px;
}